html,
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdf6f0;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.app-container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  max-width: 900px;
  margin: auto;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header h1 {
  margin: 0;
  color: #ff6f61;
}

nav button {
  margin: 0 5px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #ffe3d8;
  transition: 0.3s;
}

nav button.active,
nav button:hover {
  background: #ff6f61;
  color: white;
}

.filter {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #fff8f0;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.kanji {
  font-size: 28px;
  color: #ff6f61;
}

.furigana {
  font-size: 14px;
  color: #555;
}

.traduction {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.quiz-card {
  background: #fff8f0;
  border-radius: 12px;
  padding: 15px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-options button {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #ffe3d8;
  transition: 0.3s;
}

.quiz-options button:hover {
  background: #ff6f61;
  color: white;
}
.quiz-message {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}
.sound-button {
  background-color: #fdd835;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s,
    transform 0.2s;
  margin-left: 8px;
}

.sound-button:hover {
  background-color: #ffc107;
  transform: scale(1.1);
}

.sound-button:active {
  transform: scale(0.95);
}
